<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.UserMapper">

    <select id="findById" resultType="User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findAll" resultType="User">
        SELECT * FROM user
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, age) VALUES (#{name}, #{age})
    </insert>

    <update id="update">
        UPDATE user SET name = #{name}, age = #{age} WHERE id = #{id}
    </update>

    <update id="deductMoney">
        UPDATE user SET money = money - #{amount} WHERE id = #{id}
    </update>

    <update id="addMoney">
        UPDATE user SET money = money + #{amount} WHERE id = #{id}
    </update>

    <select id="findByPage" resultType="User">
        SELECT *FROM user LIMIT #{offset},#{size}
    </select>

    <select id="findByNameLike" resultType="User">
        SELECT * FROM user WHERE name LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="search" resultType="User">
        SELECT * FROM user
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="minAge != null">
                AND age &gt;= #{minAge}
            </if>
            <if test="maxAge != null">
                AND age &lt;= #{maxAge}
            </if>
        </where>
    </select>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>